<div class="container-item">
  <div class="item">
    <div class="logo">
      <img *ngIf="educacion.logoEducacion !='' && educacion.logoEducacion != null"
      [src]="educacion.logoEducacion">
      <img *ngIf="educacion.logoEducacion == ''|| educacion.logoEducacion == null"
      src="../../../assets/blank.jpg">
    </div>
    <div class="edu">
      <h1>{{educacion.titulo}}</h1>
      <h2> {{educacion.nombreInstitucion}}</h2>
      <p class = "estado"> {{educacion.gradoEducacion}}<span *ngIf="educacion.estadoEducacion != 'En Curso'"> -
        {{educacion.estadoEducacion}} </span> </p>
      <p class="fecha"> {{educacion.fechaInicio | date:'d/M/y'}} -
        {{educacion.fechaFinal | date:'d/M/y'}} <span *ngIf="educacion.estadoEducacion == 'En Curso'">{{educacion.estadoEducacion}} </span> </p>
    </div>
  </div>
  <div class="buttons">
    <span *ngIf="isLogged" class="click" (click)="onEdit(educacion)"><i class="fas fa-edit fa-xl" id="edit"></i></span>
  </div>
</div>
