.container-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  padding-right: 20px;
}
.click {
  cursor: pointer;
}

.item{
  display : flex;
  align-items: center;
}

img{
  height: 150px;
  width: 150px;
}

.edu{
  margin-left:30px;
}

.edu h1 {
  font-size: 38px;
}

.edu h2 {
  font-size: 28px;
}

.edu .fecha {
  font-size: 24px;
}

.edu .estado{
  font-size: 28px;
}

@media only screen and (max-width: 600px) {
  img {
    display: none;
  }

  .edu{
    margin-left:0px;
  }
}




