<div class="container">
  <div class="add">
    <h1 class="display-3">Experiencia Laboral</h1>
    <button *ngIf="isLogged" class="btn btn-outline-success btn-lg" type="button" (click)="onAdd()">
      <i class="fas fa-plus-circle"></i> Agregar</button>
  </div>
  <div class="item" *ngFor="let trabajo of trabajos">
    <app-experiencialaboral-item (OnEditTrabajo)="editarTrabajo(trabajo)" [trabajo]=trabajo>
    </app-experiencialaboral-item>
  </div>
</div>

<!-- MODAL FORM ADD/EDIT-->
<ng-template #content let-modal>
  <div class="modal-header" id="trabajoModal">
    <h5 *ngIf="isAdd" class="modal-title">Nueva experiencia laboral</h5>
    <h5 *ngIf="!isAdd" class="modal-title">Editar experiencia laboral</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body mx-3">
    <form class="md-form mb-5" [formGroup]="formExp" (ngSubmit)="onSubmit()">
      <div class="md-form mb-4">
        <label>Nombre empresa:</label>
        <input class="form-control" type="text" [ngClass]="{'is-invalid': nombreEmpresa?.errors && nombreEmpresa?.touched,
      'is-valid':  !nombreEmpresa?.errors && nombreEmpresa?.value }" formControlName="nombreEmpresa"
          placeholder="Introduzca el nombre de la empresa" />
        <div *ngIf="nombreEmpresa?.errors && nombreEmpresa?.touched">
          <p *ngIf="nombreEmpresa?.hasError('required')" class="text-danger">
            El nombre de la empresa es requerido.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label>Cargo en la empresa:</label>
        <input class="form-control" type="text" [ngClass]="{'is-invalid': puesto?.errors && puesto?.touched,
      'is-valid':  !puesto?.errors && puesto?.value }" formControlName="puesto"
          placeholder="Introduzca el puesto desempeñado">
        <div *ngIf="puesto?.errors && puesto?.touched">
          <p *ngIf="puesto?.hasError('required')" class="text-danger">
            El cargo desempeñado en la empresa es requerido.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label>Fecha Inicio:</label>
        <input class="form-control" type="date" [ngClass]="{'is-invalid': (fechaInicio?.errors || formExp?.errors?.['fechasValidas'])  && fechaInicio?.touched,
      'is-valid':  !fechaInicio?.errors && fechaInicio?.value }" formControlName="fechaInicio"
          placeholder="Fecha de ingreso">
        <div *ngIf="(fechaInicio?.errors || formExp?.errors?.['fechasValidas']) && fechaInicio?.touched">
          <p *ngIf="fechaInicio?.hasError('required')" class="text-danger">
            La fecha de inicio es requerido.
          </p>
          <p *ngIf="fechaInicio?.errors?.['fechaValida']"  class="text-danger">
            La fecha de inicio no puede superar la actual.
          </p>
          <p *ngIf="formExp?.errors?.['fechasValidas']" class="text-danger">
            La fecha inicial no puede ser mayor que la final.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label> Fecha Final:</label>
        <input class="form-control" type="date" [ngClass]="{'is-invalid': (fechaFinal?.errors || formExp?.errors?.['fechasValidas'])  && fechaFinal?.touched,
      'is-valid':  !fechaFinal?.errors && fechaFinal?.value }" formControlName="fechaFinal"
          placeholder="Fecha de egreso">
        <div class="form-check">
          <input class="form-check-input" (change)="trabajando()" formControlName="enCurso" type="checkbox" value=""
            id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Trabajando actualmente
          </label>
        </div>
        <div *ngIf="(fechaFinal?.errors || formExp?.errors?.['fechasValidas']) && fechaFinal?.touched">
          <p *ngIf="fechaFinal?.hasError('required')" class="text-danger">
            La fecha de inicio es requerido.
          </p>
          <p *ngIf="fechaFinal?.errors?.['fechaValida']"  class="text-danger">
            La fecha de inicio no puede superar la actual.
          </p>
          <p *ngIf="formExp?.errors?.['fechasValidas']" class="text-danger">
            La fecha inicial no puede ser mayor que la final.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label>Descripcion:</label>
        <textarea class="form-control" type="text" [ngClass]="{'is-invalid': descripcion?.errors && descripcion?.touched,
      'is-valid':  !descripcion?.errors && descripcion?.value }" formControlName="descripcion"
          placeholder="Describa cuales eran sus funciones" rows="4">
      </textarea>
        <div *ngIf="descripcion?.errors && descripcion?.touched">
          <p *ngIf="descripcion?.hasError('required')" class="text-danger">
            La descripcion del cargo desempeñado en la empresa es requerido.
          </p>
          <p *ngIf="descripcion?.errors?.['minlength'] || descripcion?.errors?.['maxlength']" class="text-danger">
            La descripcion debe tener entre 20 y 180 caracteres.
          </p>
        </div>
      </div>
      <div class="upload">
        <label id="logoLabel">Logo de la empresa</label>
        <div class="logoImagen">
          <img *ngIf="uploadImg" src="{{imagenes[0]}}">
          <img *ngIf="!isAdd && urlLogo != null" src="{{urlLogo}}">
          <input type="file" accept=".png, .jpg,.jpeg" (change)="cargarImagen($event)" id="inputFile">
        </div>
        <label *ngIf="isUploading" class="uploadImage"> Subiendo Imagen</label>
        <div class="buttonUpload">
          <label for="inputFile" class="custom-file-upload"><i class="fa-solid fa-cloud-arrow-up"></i> {{isAdd ? 'Subir Imagen': 'Cambiar Imagen'}}</label>&nbsp;
          <label *ngIf="!isAdd && urlLogo != ''" (click)="borrarImagen()" class="custom-file-delete"> <i class="fa-solid fa-trash-can"></i> Borrar
            Imagen</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!isAdd" type="button" (click)="deleteTrabajo()" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Borrar</button>
    <button *ngIf="isAdd" type="button" class="btn btn-danger" (click)="modal.dismiss()"><i class="fa-solid fa-ban"></i> Cancelar</button>
    <button type="button" (click)="onSubmit(); modal.dismiss()" [disabled]="formExp.invalid || isUploading"
      class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
  </div>
</ng-template>

<!-- MODAL FORM DELETE-->
<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-delete">Borrar Estudio</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p><strong>¿Esta seguro que quiere borrar este trabajo?</strong></p>
    <span class="text-danger">Esta operacion no se puede deshacer.</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()"><i class="fa-solid fa-ban"></i> Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="deleteTrabajoDb(); modal.dismiss()"><i class="fa-solid fa-trash"></i> Borrar</button>

  </div>
</ng-template>
