.add{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#inputFileTrabajo {
  display: none;
}

.logoImagen {
  display:flex;
  justify-content:center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logoImagen img{
  width: 200px;
}

#logoLabel{
  display:flex;
  justify-content:center;
}

.buttonUpload{
  display:flex;
  justify-content:center;
}
