<div class="container">
  <div class="add">
    <h1 class="display-3">Estudios</h1>
    <button *ngIf="isLogged" class="btn btn-outline-success btn-lg" type="button" (click)="onAdd()">
      <i class="fas fa-plus-circle"></i> Agregar</button>
  </div>
  <div class="item" *ngFor="let educacion of educaciones">
    <app-educacion-item (OnEditEducacion)="editarEducacion(educacion)" [educacion]=educacion>
    </app-educacion-item>
  </div>
</div>

<!-- MODAL FORM ADD/EDIT-->
<ng-template #content let-modal>
  <div class="modal-header" id="educacionModal">
    <h5 *ngIf="isAdd" class="modal-title">Nuevo estudio</h5>
    <h5 *ngIf="!isAdd" class="modal-title">Editar estudio</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body mx-3">
    <form class="md-form mb-5" [formGroup]="formEdu" (ngSubmit)="onSubmit()">
      <div class="md-form mb-4">
        <label>Titulo:</label>
        <input class="form-control" type="text" [ngClass]="{'is-invalid': titulo?.errors && titulo?.touched,
      'is-valid':  !titulo?.errors && titulo?.value }" formControlName="titulo" placeholder="Ingrese el titulo" />
        <div *ngIf="titulo?.errors && titulo?.touched">
          <p *ngIf="titulo?.hasError('required')" class="text-danger">
            El titulo es requerido.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label>Nombre Institucion:</label>
        <input class="form-control" type="text" [ngClass]="{'is-invalid': nombreInstitucion?.errors && nombreInstitucion?.touched,
      'is-valid':  !nombreInstitucion?.errors && nombreInstitucion?.value }" formControlName="nombreInstitucion"
          placeholder="Ingrese el nombre de la institución">
        <div *ngIf="nombreInstitucion?.errors && nombreInstitucion?.touched">
          <p *ngIf="nombreInstitucion?.hasError('required')" class="text-danger">
            El nombre de la institucion es requerido.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label>Grado Educacion</label>
        <select class="form-control" formControlName="gradoEducacion" [ngClass]="{'is-invalid': gradoEducacion?.errors && gradoEducacion?.touched,
      'is-valid':  !gradoEducacion?.errors && gradoEducacion?.value }">
          <option [ngValue]="null" disabled>Elija un grado de estudio</option>
          <option *ngFor="let grado of gradosEducacion" [ngValue]="grado.grado">
            {{grado.grado}}
          </option>
        </select>
        <div *ngIf="gradoEducacion?.errors && gradoEducacion?.touched">
          <p *ngIf="gradoEducacion?.hasError('required')" class="text-danger">
            El grado del estudio es requerido.
        </div>
      </div>
      <div class="md-form mb-4">
        <label>Fecha Inicio:</label>
        <input class="form-control" type="date" [ngClass]="{'is-invalid': fechaInicio?.errors && fechaInicio?.touched,
      'is-valid':  !fechaInicio?.errors && fechaInicio?.value }" formControlName="fechaInicio"
          placeholder="Elija la fecha de inicio">
        <div *ngIf="fechaInicio?.errors && fechaInicio?.touched">
          <p *ngIf="fechaInicio?.hasError('required')" class="text-danger">
            La fecha de inicio es requerido.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label> Fecha Final:</label>
        <input class="form-control" type="date" [ngClass]="{'is-invalid': fechaFinal?.errors && fechaFinal?.touched,
      'is-valid':  !fechaFinal?.errors && fechaFinal?.value }" formControlName="fechaFinal"
          placeholder="Elija la fecha final">
        <div *ngIf="fechaFinal?.errors && fechaFinal?.touched">
          <p *ngIf="fechaFinal?.hasError('required')" class="text-danger">
            La fecha de inicio es requerido.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label>Estado Educacion</label>
        <select (change)="enCurso()" class="form-control" formControlName="estadoEducacion" [ngClass]="{'is-invalid': estadoEducacion?.errors && estadoEducacion?.touched,
      'is-valid':  !estadoEducacion?.errors && estadoEducacion?.value }">
          <option [ngValue]="null" disabled>Elija un estado de estudio</option>
          <option *ngFor="let estado of estadosEducacion" [ngValue]="estado.estado">
            {{estado.estado}}
          </option>
        </select>
        <div *ngIf="estadoEducacion?.errors && estadoEducacion?.touched">
          <p *ngIf="estadoEducacion?.hasError('required')" class="text-danger">
            El estado del estudio es requerido.
        </div>
      </div>
      <div class="upload">
        <label id="logoLabel">Logo de la institucion</label>
        <div class="logoImagen">
          <img *ngIf="uploadImg" src="{{imagenes[0]}}">
          <img *ngIf="!isAdd && urlLogo != null" src="{{urlLogo}}">
          <input type="file" accept=".png, .jpg,.jpeg" (change)="cargarImagen($event)" id="inputFile">
        </div>
        <label *ngIf="isUploading" class="uploadImage"> Subiendo Imagen</label>
        <div class="buttonUpload">
          <label for="inputFile" class="custom-file-upload"><i class="fa-solid fa-cloud-arrow-up"></i> {{isAdd ? 'Subir Imagen': 'Cambiar Imagen'}}</label>&nbsp;
          <label *ngIf="!isAdd && urlLogo != ''" (click)="borrarImagen()" class="custom-file-delete"><i class="fa-solid fa-trash-can"></i> Borrar Imagen</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!isAdd" type="button" (click)="deleteEducacion()" class="btn btn-danger"
      data-bs-dismiss="modal">Borrar</button>
    <button *ngIf="isAdd" type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" (click)="onSubmit()" [disabled]="formEdu.invalid ||isUploading"
      class="btn btn-primary">Guardar</button>
  </div>
</ng-template>

<!-- MODAL FORM DELETE-->
<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-delete">Borrar Estudio</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p><strong>¿Esta seguro que quiere borrar este estudio?</strong></p>
    <span class="text-danger">Esta operacion no se puede deshacer.</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="deleteEducacionDb()">Borrar</button>
  </div>
</ng-template>
