<div class="container">
  <div class="add">
    <h1 class="display-3">Proyectos</h1>
    <button *ngIf="isLogged" class="btn btn-outline-success btn-lg" type="button" (click)="onAdd()">
      <i class="fas fa-plus-circle"></i> Agregar</button>
  </div>
  <div class="item" *ngFor="let proyecto of proyectos">
    <app-proyecto-item
    (OnEditProyecto)="editarProyecto(proyecto)"
      [proyecto]=proyecto>
    </app-proyecto-item>
  </div>
</div>

<!-- MODAL FORM ADD/EDIT-->
<ng-template #proyecto let-modal>
  <div class="modal-header" id="proyectoModal">
    <h5 *ngIf="isAdd" class="modal-title">Nuevo Proyecto</h5>
    <h5 *ngIf="!isAdd" class="modal-title">Editar Proyecto</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body mx-3">
    <form class="md-form mb-5" [formGroup]="formProyect" (ngSubmit)="onSubmit()">
      <div class="md-form mb-4">
        <label>Nombre del proyecto:</label>
        <input class="form-control" type="text"
        [ngClass]="{'is-invalid': nombre?.errors && nombre?.touched,
      'is-valid':  !nombre?.errors && nombre?.value }"
        formControlName="nombre" placeholder="Nombre del proyecto" />
        <div *ngIf="nombre?.errors && nombre?.touched">
          <p *ngIf="nombre?.hasError('required')" class="text-danger">
            El nombre del proyecto es requerido.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label>Fecha:</label>
        <input class="form-control" type="date"
        [ngClass]="{'is-invalid': fecha?.errors && fecha?.touched,
      'is-valid':  !fecha?.errors && fecha?.value }"
        formControlName="fecha">
        <div *ngIf="fecha?.errors && fecha?.touched">
          <p *ngIf="fecha?.hasError('required')" class="text-danger">
            La fecha de creacion del proyecto es requerida.
          </p>
          <p *ngIf="fecha?.errors?.['fechaValida']"  class="text-danger">
            La fecha del proyecto no puede superar la actual.
          </p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="md-form mb-4">
          <label>Descripcion:</label>
          <textarea class="form-control" type="text"
          [ngClass]="{'is-invalid': descripcion?.errors && descripcion?.touched,
          'is-valid':  !descripcion?.errors && descripcion?.value }"
          formControlName="descripcion"
            placeholder="Descripcion del proyecto" rows="4"></textarea>
          <div *ngIf="descripcion?.errors && descripcion?.touched">
            <p *ngIf="descripcion?.hasError('required')" class="text-danger">
              La descripcion del proyecto es requerida.
            </p>
            <p *ngIf="descripcion?.errors?.['minlength'] || descripcion?.errors?.['maxlength']" class="text-danger">
              La descripcion debe tener un minimo de 20 caracteres y un maximo de 180 caracteres.
            </p>
          </div>
        </div>
        <div class="md-form mb-4">
          <label> URL del proyecto:</label>
          <input class="form-control" type="text"
          [ngClass]="{'is-invalid': formProyect.get('urlProyecto')?.hasError('pattern'),
          'is-valid': !formProyect.get('urlProyecto')?.hasError('pattern') && formProyect.get('urlProyecto')?.value}"
          formControlName="urlProyecto" placeholder="URL del proyecto">
          <div *ngIf="urlProyecto?.errors && urlProyecto?.touched">
            <p *ngIf="urlProyecto?.hasError('required')" class="text-danger">
              La URL del proyecto es requerida.
            </p>
            <p *ngIf="formProyect.get('urlProyecto')?.hasError('pattern')" class="text-danger">
              Ingrese una URL valida.
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!isAdd" type="button" (click)="deleteProyecto()" class="btn btn-danger" data-bs-dismiss="modal">Borrar</button>
    <button *ngIf="isAdd"type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" (click)="onSubmit()" [disabled]="formProyect.invalid" class="btn btn-primary">Guardar</button>
  </div>
</ng-template>

<!-- MODAL FORM DELETE-->
<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-delete">Borrar Proyecto</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p><strong>¿Esta seguro que quiere borrar este proyecto?</strong></p>
    <span class="text-danger">Esta operacion no se puede deshacer.</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="deleteProyectoDb()">Borrar</button>
  </div>
</ng-template>
