

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #007688;
  margin-bottom: 5px;
}

.header_logo h1 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.logo {
  height: 75px;
  width: auto;
  display: flex;
}

.login{
  margin-right: 15px;
}



@media only screen and (max-width: 600px) {

  .header_logo h1{
    font-size:1em;
  }
}
