<div class="container-item">
  <div class="item">
    <div class="logo">
      <img [src]="trabajo.logoEmpresa">
    </div>
    <div class="exp">
      <h1 class="h1"> {{trabajo.puesto}}</h1>
      <h2 class="h3"> {{trabajo.nombreEmpresa}}</h2>
      <p class="h3">{{trabajo.descripcion}}</p>
      <p class="h4">{{trabajo.fechaInicio | date:' dd MMMM  yyyy'}} -
         {{trabajo.fechaFinal | date:' dd MMMM  yyyy'}}</p>
    </div>
  </div>
  <div class="buttons">
    <span *ngIf="isLogged" class="click" (click)="onEdit(trabajo)"><i class="fas fa-edit fa-xl" id="edit"></i></span>
  </div>
</div>
