.container-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  padding-right: 20px;
}
.click {
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
}

img {
  height: 100px;
  width: 100px;
}

.exp {
  margin-left: 30px;
}

.exp h1 {
  font-size: 38px;
}

.exp h2 {
  font-size: 32px;
}

.exp .fecha {
  font-size: 24px;
}

.exp .descripcion{
  font-size: 28px;
}
