<div class="container-item">
  <div class="item">
    <div class="logo">
      <img *ngIf="trabajo.logoEmpresa !='' && trabajo.logoEmpresa!= null"
      [src]="trabajo.logoEmpresa">
      <img *ngIf="trabajo.logoEmpresa == ''|| trabajo.logoEmpresa == null"
      src="../../../assets/blank.jpg">
    </div>
    <div class="exp">
      <h1> {{trabajo.puesto}}</h1>
      <h2> {{trabajo.nombreEmpresa}}</h2>
      <p class="descripcion">{{trabajo.descripcion}}</p>
      <p class="fecha">{{trabajo.fechaInicio | date:'MMMM  yyyy'}} -
         {{trabajo.fechaFinal | date:'MMMM  yyyy'}}<span *ngIf="trabajo.enCurso">Actualmente trabajando</span>
    </div>
  </div>
  <div class="buttons">
    <span *ngIf="isLogged" class="click" (click)="onEdit(trabajo)"><i class="fas fa-edit fa-xl" id="edit"></i></span>
  </div>
</div>
