
.click {
  cursor: pointer;
}

.skill-Hard {
  display: inline-flex;
  margin-left: 75px;
}

.skill-Soft {
  display: inline-flex;
  margin-left: 75px;
}

.buttons{
  position: absolute;
  margin-left: 115px;
  margin-top: 150px;
}

