.container {
  display: flex;
}


.usuario {
  display: block;
}

.redes {
position: absolute;
}

.acerca {
  margin-left:650px;
  margin-top: -175px;
  width: 600px;
  font-size: 20px;
}

.avatar {
  display: flex;
}
.avatar span{
  position:absolute;
  margin-left:190px;
  margin-top: 30px;
  color:rgb(255, 255, 255);
}
.nombre {
  display:grid;
  justify-content: space-between;
}
.nombre h1 {
  margin-left: 15px;
  font-size: 3em;
}
.nombre h3{
  padding-left: 90px;
  font-size: 24px;
}

.nombre h4{
  padding-left: 5px;
  font-size: 20px;
}

.nombre h5{
  padding-left: 25px;
  font-size: 20px;
}


.avatar h2 {
  margin-left: 15px;
  vertical-align: middle;
  font-size: 3em;
}

.avatar img {
  border: solid 5px white;
  margin-top: -110px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 50px;
}

.click {
  cursor: pointer;
}

.banner span{
  position: absolute;
  padding-top: 5px;
  margin-left: -40px;
  color: #fff;
}

.editar{
  float: right;
  padding-left: 10px;
  padding-top: -15px;
  margin-bottom: 10px;
}

