<div class="redes">
  <a href="{{redesSociales.facebook}}" *ngIf="redesSociales?.facebook != '' && redesSociales?.facebook != undefined && redesSociales?.facebook != null" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i> &nbsp;</a>
  <a href="{{redesSociales.twitter}}" *ngIf="redesSociales?.twitter != '' && redesSociales?.twitter !=  undefined && redesSociales?.twitter != null" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i>&nbsp;</a>
  <a href="{{redesSociales.instagram}}"*ngIf="redesSociales?.instagram != '' && redesSociales?.instagram != undefined && redesSociales?.instagram != null" target="_blank"><i class="fa-brands fa-instagram fa-xl">&nbsp;</i></a>
  <a href="{{redesSociales.linkedin}}"*ngIf="redesSociales?.linkedin != '' && redesSociales?.linkedin != undefined && redesSociales?.linkedin != null" target="_blank"><i class="fa-brands fa-linkedin fa-xl">&nbsp;</i></a>
  <span *ngIf="isLogged" class="click" (click)="editarRedes()"><i class="fas fa-edit fa-xl"></i></span>
</div>

<!-- MODAL FORM ADD/EDIT-->
<ng-template #redes let-modal>
  <div class="modal-header" id="redesModal">
    <h5 class="modal-title">Editar Redes Sociales</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body mx-3">
    <form class="md-form mb-5" [formGroup]="formRedes" (ngSubmit)="onSubmit()">
      <div class="md-form mb-4">
        <label>Facebook URL:</label>
        <input class="form-control" type="text"
        [ngClass]="{'is-invalid': formRedes.get('facebook')?.hasError('pattern'),
        'is-valid': !formRedes.get('facebook')?.hasError('pattern') && formRedes.get('facebook')?.value}"
        formControlName="facebook" placeholder="Ingrese la URL de su perfil de facebook" />
        <div *ngIf="facebook?.errors && facebook?.touched">
          <p *ngIf="formRedes.get('facebook')?.hasError('pattern')" class="text-danger">
            Ingrese una URL valida.
          </p>
        </div>
      </div>
      <div class="md-form mb-4">
        <label>Twitter URL:</label>
        <input class="form-control" type="text"
        [ngClass]="{'is-invalid': formRedes.get('twitter')?.hasError('pattern'),
        'is-valid': !formRedes.get('twitter')?.hasError('pattern') && formRedes.get('twitter')?.value}"
        formControlName="twitter" placeholder="ingrese la URL de su perfil de twitter" />
        <div *ngIf="twitter?.errors && twitter?.touched">
          <p *ngIf="formRedes.get('twitter')?.hasError('pattern')" class="text-danger">
            Ingrese una URL valida.
          </p>
        </div>
      </div>
        <div class="md-form mb-4">
          <label>Instagram URL:</label>
          <input class="form-control" type="text"
          [ngClass]="{'is-invalid': formRedes.get('instagram')?.hasError('pattern'),
          'is-valid': !formRedes.get('instagram')?.hasError('pattern') && formRedes.get('instagram')?.value}"
          formControlName="instagram" placeholder="ingrese la URL de su perfil de instagram" />
          <div *ngIf="instagram?.errors && instagram?.touched">
            <p *ngIf="formRedes.get('instagram')?.hasError('pattern')" class="text-danger">
              Ingrese una URL valida.
            </p>
          </div>
        </div>
        <div class="md-form mb-4">
          <label> LinkedIn URL:</label>
          <input class="form-control" type="text"
          [ngClass]="{'is-invalid': formRedes.get('linkedin')?.hasError('pattern'),
          'is-valid': !formRedes.get('linkedin')?.hasError('pattern') && formRedes.get('linkedin')?.value}"
          formControlName="linkedin" placeholder="ingrese la URL de su perfil de linkedin">
          <div *ngIf="linkedin?.errors && linkedin?.touched">
            <p *ngIf="formRedes.get('linkedin')?.hasError('pattern')" class="text-danger">
              Ingrese una URL valida.
            </p>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="modal.dismiss()" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i> Cancelar</button>
    <button type="button" (click)="onSubmit(); modal.dismiss()" [disabled]="formRedes.invalid" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
  </div>
</ng-template>
