/* You can add global styles to this file, and also import other style files */
.container{
  padding-top:10px;
  border-radius: 15px;
  margin: 0 auto;
  border:solid 2px;
  border-color: #008295;
}

.container-item{
  padding-top:10px;
  padding-left: 15px;
  margin: 0 auto;
  margin: 5px;
}

#edit{
  color:#4570ff;
}

.custom-file-upload {
  border: 1px solid #ccc;
  background-color: #0b5bd2;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
}

.uploadImage{
  display:flex;
  justify-content:center;
  color:rgb(18, 90, 18);
  size:16px;
}

.custom-file-delete {
  border: 1px solid #ccc;
  background-color: #d20b0b;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
}

.custom-file-upload:active {
  transform: scale(0.9);
}

.custom-file-delete:active {
  transform: scale(0.9);
}

